@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.audioTracker {
  width: 100%;
  height: 40px; /* Ancho al 100% */ /* Fondo negro */
  color: greenyellow; /* Color del texto (puedes ajustarlo según tus necesidades) */
  /* Otros estilos personalizados para los controles del reproductor de audio */
}

/* Estilos para los controles específicos del reproductor de audio */
.audioTracker::-webkit-media-controls-panel {
  /* Estilos específicos para los controles en navegadores webkit (Chrome, Safari) */
  background: #0f1b27;
  border: #0f1b27;
  outline: #0f1b27;
  color: white;
  width: 100%;
}
.audioTracker::-webkit-media-controls-play-button {
  -webkit-background-origin: padding-box;
}
.audioTracker::-webkit-media-controls-time-remaining-display,
.audioTracker::-webkit-media-controls-current-time-display {
  color: rgb(255, 255, 255);
  /* Cambia el color de los botones a blanco */
}
